 @font-face {
          font-family: 'CompressaVF';
          src: url('https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2');
          font-style: normal;
        }

        .text {
          display: flex;
          justify-content: space-between;
        }

        .stroke span {
          position: relative;
          color: #FFFFFF;
        }
        .stroke span::after {
          content: attr(data-char);
          position: absolute;
          left: 0;
          top: 0;
          color: transparent;
          z-index: -1;
          -webkit-text-stroke-width: 3px;
          -webkit-text-stroke-color:#FF0000;
        }

        .text-pressure-title {
          color: #FFFFFF;
          font-family: 'CompressaVF';
        }